/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #b71c1c;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logo-koji{
  height: 65px;
}
.card .card-content {
    padding: 8px;
}
.font-custom{
  font-family: 'Abril Fatface', cursive !important;
  margin-bottom: 60px;
}

.side-nav li > a:hover {
    background-color: #b71c1c;
}

nav ul a:hover {
    background-color: #b71c1c;
}

.slider .indicators .indicator-item.active {
  background-color: #b71c1c;
}
